<h2> Welcome! </h2>

<p>We show totally accurate lists of continents and countries!!</p>


<p></p>

<form action="/" method="post">

  <div class="form-element">
    <label for="name">Name:</label>
    <br>
    <input type="text" id="name" name="name"/>
  </div>

  <div class="form-element">
    <label for="message">Message: </label>
   <br>
    <textarea type="text" col="40" row="5" id="message" name="message"></textarea>
  </div>

  <p></p>

  <input type="submit" class="button" value="Add Message"/>
</form>

<p></p>


<table border="1" style="width:300px">
  <tr>
    <td><%= "Name" %></td>
    <td><%= "Message" %></td>
  </tr>


  <% @users.each do |list| %>

        <td><%= list["name"] %></td>
        <td><%= list["message"] %></td>
      </tr>
    <% end %>

</table>


